.bar_chart {
  display: flex;
  height: 100px; // height also defined in bar_chart.ts

  .bars {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;

    transform: translateX(8px); // half the bar width to center on timeline tick
    border-style: solid;
    border-width: 2px;
  }

  .fp-color {
    background-color: red;
  }

  .tp-color {
    background-color: green;
  }

  .bar {
    transition: height ease 0.2s, border-width ease 0.2s;
    display: flex;
    flex-direction: column-reverse;
  }
}
