body {
  margin: 0;
  padding: 0;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-areas:
    ". axis-top axis-top ."
    "axis-left . label-top label-right"
    "axis-left label-left matrix chart-right"
    ". label-bottom chart-bottom .";
  grid-template-columns: 40px 50px auto auto;
  grid-template-rows: 40px 50px auto 1fr;
}

.axis {
  background: #eee;

  &.axis-top {
    grid-area: axis-top;
  }

  &.axis-left {
    grid-area: axis-left;

    > span {
      display: block;
      transform: rotate(-180deg);
      writing-mode: vertical-lr;
    }
  }
}

.label-right {
  grid-area: label-right;
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
}

.label-bottom {
  grid-area: label-bottom;
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
}


.label-top {
  grid-area: label-top;
  background: #E94858;
  position: relative;

  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100%, 1fr));
}

.label-left {
  grid-area: label-left;
  background: #F3A32A;
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.matrix-wrapper {
  grid-area: matrix;
  background: #82BF6E;

  position: relative;
	width: 100%; /* <-- just a default, can be anything. */
}

.chart-right {
  grid-area: chart-right;
  background: #3CB4CB;
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.chart-bottom {
  grid-area: chart-bottom;
  background: #16434B;
  position: relative;

  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));
}



.one-by-one.aspect-ratio { padding-bottom: 100% }
.three-by-two.aspect-ratio { padding-bottom: 66.666% }
.four-by-three.aspect-ratio { padding-bottom: 75% }
.sixteen-by-nine.aspect-ratio { padding-bottom: 56.25% }

.matrix {
  position: absolute;
  top: 0;  bottom: 0;  left: 0;  right: 0;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.labels,
.bar-chart {
  display: grid;
}

.label-left > .labels,
.chart-right > .bar-chart {
  grid-template-rows: repeat(10, 1fr);
}

.label-top > .labels,
.chart-bottom > .bar-chart {
  grid-template-columns: repeat(10, 1fr);
}


.cell {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
