.details-wrapper {
  .selection-panel {
    display: flex;
    flex-wrap: nowrap;

    > .panel {
      background-color: #f1f1f1;
      width: 200px;
      text-align: center;
      font-size: 30px;
      margin: 0px;

      &:active,
      &:focus,
      &:hover {
        cursor: pointer;
        background-color: orange;
        border: none;
        z-index: 1;
        margin: 1px;
      }

      &.selected {
        outline: 2px solid orange;
      }
    }
  }

  .view-body {
    .viewpanel-content {
      > svg {
        position: relative;
      }
    }
  }

  .chart-axis path,
  .chart-axis line {
    fill: none;
    stroke: slategray;
    shape-rendering: crispEdges;
  }
}
