@import "vars";

.timeline {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-left: 40px;

  .selection {
    position: absolute;
    top: -4px;
    height: 24px;
    border: 2px $select-color solid;
    background: transparentize($select-color, 0.75);
    border-radius: 5px;
    visibility: hidden;
    z-index: -1;
  }

  .epochs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    .point {
      position: relative;
      //border-radius: 50%;
      background-color: darken($label-bg, 15%);
      width: 15px;
      height: 15px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        border-top: 2px solid darken($label-border, 10%);
        width: 300%;
        top: 50%;
        right: 100%;
        z-index: -1;
        user-select: none;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        border-top: 2px solid darken($label-border, 10%);
        width: 300%;
        top: 50%;
        left: 100%;
        z-index: -1;
        user-select: none;
      }
    }

    &.single-selected .point {
        background-color: $select-color;
    }

    &:nth-child(2) .point:before,
    &:last-child .point:after {
      display: none;
    }

    .epoch-label {
      margin-top: 5px;
      color: black;
    }
  }
}
