@import "vars";

.timeline-view {
  .timeline {
    .selection {
      position: absolute;
      y: -3px;
      height: 16px;
      fill: $select-color;
      z-index: -1;

    }
    .single-selected {
      fill: $select-color;
    }
  }
}
