@import "vars";

/* Input Range Style */

$track-color: transparent !default;
$thumb-color: #ccc !default;

$thumb-radius: 0px !default;
$thumb-height: 24px !default;
$thumb-width: 12px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 0px !default;
$thumb-border-color: transparent !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 1px !default;
$track-border-color: #ddd !default;

$track-radius: 0px !default;
$contrast: 0% !default;

@import "inputrange";

input[type=range][orient=vertical] {
  margin-top: 90px;
  transform: rotate(270deg)translate(40px, -35px);
  width: 100px;
}


.toolbar {
  display: flex;
  flex-direction: column;
}

.toolbar-switch-cell-vis {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.toolbar-transpose-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    color: #aaa;
    cursor: pointer;
    user-select: none;

    &:before {
      font-size: 20px;
      @include fa-icon();
      content: $fa-var-long-arrow-right;
    }

    span {
      font-size: 10px;
      font-weight: 500;
    }

  }

  input[type="checkbox"]:checked + label {
    //flex-direction: row;
    &:before {
      content: $fa-var-long-arrow-down;
    }
  }
}
