#timeline {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 20px;

  .selection {
    position: absolute;
    top: 20px;
    height: 25px;
    border: 2px red solid;
    border-radius: 5px;
    visibility: hidden;
  }

  .epochs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    .point {
      border-radius: 50%;
      background-color: #c5c5c5;
      width: 25px;
      height: 25px;
      border-width: 2px;
      border-style: solid;
      border-color: black;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        border-top: 2px solid black;
        width: 300%;
        top: 50%;
        left: 100%;
        z-index: -1;
        user-select: none;
      }
    }

    &:last-child .point:before {
      display: none;
    }

    .label {
      margin-top: 5px;
      color: black;
    }
  }
}
